*,
    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #111;
        font-family: Arial;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container {
        position: relative;
        width: 90%;
        max-width: 900px;
    }

    video {
        display: block;
        width: 100%;
        border: 2px solid limegreen;
        border-radius: 15px;
    }

    .video-component {
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 15px;
        padding: 10px 18px;
        background: rgba(0, 0, 0,0.5);
        backdrop-filter: blur(10px);
        border-radius: 40px;
        opacity: 0;
        transition: .3s;
    }

    .container.show-controls .video-component {
        opacity: 1;
    }

    .btn {
        width: 45px;
        height: 45px;
        border: none;
        font-size: 8px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
    }

    .btn-play {
        background: #28a745;
    }

    .btn-pause {
        background: #dc3545;
    }

    .btn-minimize {
        background: #555;
    }

    #progress {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        width: 92%;
        cursor: pointer;
        opacity: 0;
        transition: .3s;
    }

    .container.show-controls #progress {
        opacity: 1;
    }

    .next-btn {
        margin-top: 25px;
        display: inline-block;
        padding: 10px 20px;
        background-color: green;
        color: white;
        text-decoration: none;
        border-radius: 7px;
        transition: background-color 0.3s ease;
    }

    .next-btn:hover {
        background-color: darkgreen;
    }

    footer {
        margin-top: 25px;
        text-align: center;
        padding: 20px;
        color: limegreen;
        font-size: 16px;
    }

    @media (max-width: 768px) {
        .video-component {
            width: 95%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
            gap: 10px;
            padding: 10px;
        }

        .btn {
            width: 38px;
            height: 38px;
            font-size: 8px;
        }

        #progress {
            position: static;
            width: 100%;
            transform: none;
            opacity: 1;
            order: 1;
        }

        .button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 100%;
            order: 2;
        }

        .btn {
            width: 45px;
            height: 45px;
            font-size: 10px;
            flex-shrink: 0;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        }

    }
