body {
    font-family: monospace;
    color: green;
    background-color: black
}

h1 {
    text-align: center;
}

.container {
    border: 1px solid green;
    padding: 20px;
}

.paragraf1 {
    color: royalblue;
}

.paragraf2 {
    color: orangered;
}

.paragraf3 {
    color: yellowgreen;
}

}

footer {
    text-align: center;
    margin-top: 100%;
}
