body {
    font-family: monospace;
    color: green;
    background-color: black
}

h1 {
    text-align: center;
}

.container {
    border: 1px solid green;
    padding: 20px;
}

.paragraf1 {
    color: royalblue;
}

.paragraf2 {
    color: orangered;
}

.paragraf3 {
    color: yellowgreen;
}

.next-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.next-btn:hover {
    background-color: darkgreen;
}

footer {
    text-align: center;
    margin-top: 100%;
}
